[submodule "components/blackmagic/blackmagic"]
	path = components/blackmagic/blackmagic
	url = https://github.com/farpatch/blackmagic.git
[submodule "components/frogfs"]
	path = components/frogfs
	url = https://github.com/farpatch/frogfs.git
