menu "Blackmagic Configuration"

    config MAX_STA_CONN
        int "Maximum number of wifi clients in AP mode"
        default 4
        help
        Max number of wifi clients that can connect to AP mode.

    choice HARDWARE_MODEL
        prompt "Hardware Model"
        default FARPATCH_DVT4 if IDF_TARGET_ESP32S3
        default ESP32_WROVER_B
        help
            Which hardware to build for.

        config FARPATCH_DVT2
            depends on IDF_TARGET_ESP32
            bool "Farpatch DVT2"
        config FARPATCH_DVT3
            depends on IDF_TARGET_ESP32S3
            bool "Farpatch DVT3"
        config FARPATCH_DVT3_NOPSU
            depends on IDF_TARGET_ESP32S3
            bool "Farpatch DVT3 (no power supply)"
        config FARPATCH_DVT4
            depends on IDF_TARGET_ESP32S3
            bool "Farpatch DVT4"
        config ESP32C3_MINI1
            depends on IDF_TARGET_ESP32C3
            bool "ESP32C3-MINI1"
        config ESP32_WROVER_B
            depends on IDF_TARGET_ESP32
            bool "ESP32-WROVER-B"
        config CUSTOM_HARDWARE
            bool "Custom PCB"
    endchoice # HARDWARE_MODEL

    config TDI_GPIO
        int "TDI GPIO"
        depends on CUSTOM_HARDWARE
        help
        TDI GPIO number

    config TDO_GPIO
        int "TDO GPIO"
        depends on CUSTOM_HARDWARE
        default 14
        help
        TDO GPIO number

    config TMS_SWDIO_GPIO
        int "SWDIO/TMS GPIO"
        depends on CUSTOM_HARDWARE
        default 0
        help
        TMS/SWDIO GPIO number

    config TMS_SWDIO_DIR_GPIO
        int "SWDIO/TMS direction GPIO"
        depends on CUSTOM_HARDWARE
        default 1
        help
        TMS/SWDIO direction GPIO number, or -1 if not present

    config TCK_SWCLK_GPIO
        int "SWCLK/TCK GPIO"
        depends on CUSTOM_HARDWARE
        default 2
        help
        TCK/SWDIO GPIO number		

    config TCK_TDI_DIR_GPIO
        int "TCK/SWDIO/TDI direction GPIO"
        depends on CUSTOM_HARDWARE
        default -1
        help
        TCK/SWDIO/TDI direction GPIO number, or -1 if not present

    config NRST_GPIO
        int "NRST GPIO"
        depends on CUSTOM_HARDWARE
        default 12
        help
        Reset GPIO Number

    config LED_GPIO
        int "LED GPIO"
        depends on CUSTOM_HARDWARE
        default 13
        help
        LED GPIO Number

    config LED2_GPIO
        int "LED2 GPIO"
        depends on CUSTOM_HARDWARE
        default -1
        help
        Second LED GPIO Number, or -1 if not present

    config UART_TX_GPIO
        int "UART TX pin"
        depends on CUSTOM_HARDWARE
        default 26
        help
        Pin to use for UART TX

    config UART_RX_GPIO
        int "UART RX pin"
        depends on CUSTOM_HARDWARE
        default 27
        help
        Pin to use for UART RX

    config DEBUG_UART
        bool "Use debug UART for log messages"
        default y
        help
        Uses the ESP32 debug UART to monitor blackmagic messages.

    config TCP_PORT
        int "TCP port number"
        default 2022
        help
        TCP port number that the GDB server will run on

endmenu
